:root {
  --color-primary-orange: #d75413;
  --color-secondary-orange: #db7a49;

  --color-primary-green: #32cd32;
  --color-secondary-green: #71ce71;

  --color-primary-blue: #1396d7;
  --color-secondary-blue: #49abdb;

  --color-primary-gray: #555555;
  --color-secondary-gray: #6a6a6a;
  --color-clear-gray: #aaaaaa;

  --color-text-white: #ffffff;
  --color-text-dark: #000000;

  --color-error: #eb606c;
  --color-success: #66cc99;
}
