.footer {
  background-color: var(--color-primary-gray);
  color: var(--color-white);
  text-align: center;
  padding: 15px;
  margin-top: 50px; /* distancia do ultimo elemento*/
  font-size: 0.95em;
  line-height: 1.5;
}

.footer p {
  margin: 5px 0;
  color: var(--color-text-white);
  font-family: "Open Sans", sans-serif;
}
